.navbar {
    background-color: black !important;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: yellow;
}

.navbar-brand:hover{
    font-size: larger;
    color: gray;
}

.navbar-brand{
    margin-left: 20px;
    color: white;
    font-size: large;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.carousel-item {
    width: 100%;
    height: 400px;
}

.carousel-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  background-color: darkslategray;
  border-color: black;
}

#linkedin{
    color: black;
    text-decoration: none;
}

.my-button{
    margin-top: 2px;
    margin-bottom: 2px;
    width: 150px;
}

.my-card{
    margin-top: 50px;
    
}

.page{
    background-color: lightcyan;
}

.for-hover{
    text-decoration: none;
}
.for-hover:hover{
    color: brown;
}

.my-title{
    margin-left: 15px;
}