<footer class="bg-light text-center text-lg-start mt-5">
  <div class="container p-4">
    <p class="text-center mb-0">
      © <%= Time.now.year %> AlphaBlog. All rights reserved.
    </p>
  </div>
</footer>
